# Session 3

In this worksheet, we'll go through loops and conditionals. Loops allow us to go through things which are 'iterable' and perform repeated actions on each element of the iterable. The definition for iterable is a bit circular because an iterable is something we can loop over, but maybe an example will helps. We can iterate over elements in a list, keys/values/items in a dictionary, rows/columns in a dataframe etc.

We will also be looking at conditionals. Conditionals allow us to execute something based on a set of conditions. To keep things simple, we'll largely be thinking of conditionals in terms of using them to make selections from dataframes, and using them to determine what actions to apply in certain instances. For instance, in a dataframe of children in need, we might want to select only rows where the age is above, say 16. We can do this with a conditional. We might also want to make a new column to say yes if a child is over 16, and no if they are under. We can use a conditional for this too.

We'll look at loops first. We start a loop using 'for', then we give a name for the iterable, this can be anything but it's good practice to use something that makes sense in context as, just like the argument of a function, when it's used in the loop, it will be called by the name we give it, we then use 'in' and specify what objecte want to iterate over, and follow this up with a colon to start the loop. Everything we want inside the loop should be indented, when the indent stops, the loop stops.

Let's look at a few examples.

In [1]:
# Lets make a list, when we iterate over a list, for each element in the list, we run the loop once
numbers = [1, 2, 3, 4, 5] 

# Here we are saying 'for' to tell Pyhton we want to start a loop, 
# we are saying we will call the iterables number, and we will take them from 'numbers'.
for number in numbers: 
    print(number) 
    # Now, the loop will go through each item in the loop and print them one by one

1
2
3
4
5

In [2]:
names = ['Moloch', 'Belial', 'Mulciber']

# We can also use more than one iterable, for going through a list 'enumerate' 
# makes this easy as it 'enumerates' or gives a number to list values in order
# so we can access them by index (recall back to the worksheet on lists), 
# and also allows us to use the value inside the list.
# Here I've used it to iterate through values in the list by index position, 
# and use the original value to create a new value.

# It is customary to use i, j, k as the names for iterables when iterating through numbers,
# just as we use them in Pysics for vectors

for i, name in enumerate(names): 
    names[i] = f'{name} has fallen.' 
    # This says, in essence the value of the list names with index i is updated to be
    # the original string, plus some extras
print(names)

['Moloch has fallen.', 'Belial has fallen.', 'Mulciber has fallen.']

In [3]:
# In this cell, I've initialised a list. Write two loops now, one that prints each 
# element from the list, and one that uses enumerate to update the string in each position to read
# '<original value> is in index position <n>'
# Ensure you choose a suitable name for your iterators

loop_me = ['Beatrice', 'Virgil', 'Minos']

for i in loop_me:
    print(i)

for i, name in enumerate(loop_me):
    loop_me[i] =f'{name} is in index position {i+1}'
    
print(loop_me)

Beatrice
Virgil
Minos
['Beatrice is in index position 1', 'Virgil is in index position 2', 'Minos is in index position 3']

If we are working with a lot of data form different sources in the form of dataframes, it can be really useful to to store them in dictionaries. If you use the pandas read_excel method on an excel workbook with multiple sheets, it'll store them in a dicitonary, for instance. This means that it can be really useful to be able to iterate through dictionaries. Let's have a look:

In [4]:
import pandas as pd

df_1 = pd.DataFrame({'col 1': ['foo', 'bar', 'baz'],
                     'col 2': [1, 2, 3]})

df_2 = pd.DataFrame({'col 1': ['Thing 1', 'Thing 2', 'Thing 3'],
                     'col 2': ['Green eggs', 'Ham', 'Sam I am']})

df_dict = {'df_1': df_1,
           'df_2' : df_2,}

# A really useful way to iterate through dictionaries is to access the items, 
# allowing us to use both the key and value in our loops
for key, value in df_dict.items(): 
    print(key)
    print(value)

# We can also iterate through rows in a dataframe, 
# although this should be avoided where possible as it's very inefficient and 
# can make your code run very slowly
for row in df_1.index:
    value = df_1['col 2'][row] * 2
    print(value)

df_1
  col 1  col 2
0   foo      1
1   bar      2
2   baz      3
df_2
     col 1       col 2
0  Thing 1  Green eggs
1  Thing 2         Ham
2  Thing 3    Sam I am
2
4
6

In [5]:
# Using df_dict, defined earlier, write a loop that iterates through 
# the dicitonary, printing out the first row of each dataframe
for key, df in df_dict.items(): 
    print(df.head(1)) 

# this currently includes the column headers which I do not want.

print()

for key, df in df_dict.items():
    first_row = df.iloc[:1]
    print(first_row)

  col 1  col 2
0   foo      1
     col 1       col 2
0  Thing 1  Green eggs

  col 1  col 2
0   foo      1
     col 1       col 2
0  Thing 1  Green eggs

There also might be times where it's useful to make a dataframe or a new column in a dataframe by making a dictionary in a loop. Below are some examples you wouldn't use in the real world, as there are better methods, but it still provides an illustration.

In [13]:
x = 1
number_list = []
for i in list((range(10))):
    number_list.append(x)
    x = (x + number_list[i-1])
    
print(pd.DataFrame({'numbers':number_list}))

answers = []
times_tables = {}
for i in list(range(1,11)):
    # We can do a loop INSIDE another loop! Don't think too hard about it, 
    # its the same, but it runs through and finishes, then the outside loop moves on
    for j in list(range(1,11)): 
        answers.append(i * j)
    times_tables[i] = answers
    answers = []


# Making the dictionary into a dataframe
multiplication_table = pd.DataFrame(times_tables) 

# shifting the index up by 1 to start at one so the table is cleaner
multiplication_table.index += 1 

# In Jupyter we don't HAVE to use print to display a variable
multiplication_table

   numbers
0        1
1        2
2        3
3        5
4        8
5       13
6       21
7       34
8       55
9       89

    1   2   3   4   5   6   7   8   9    10
1    1   2   3   4   5   6   7   8   9   10
2    2   4   6   8  10  12  14  16  18   20
3    3   6   9  12  15  18  21  24  27   30
4    4   8  12  16  20  24  28  32  36   40
5    5  10  15  20  25  30  35  40  45   50
6    6  12  18  24  30  36  42  48  54   60
7    7  14  21  28  35  42  49  56  63   70
8    8  16  24  32  40  48  56  64  72   80
9    9  18  27  36  45  54  63  72  81   90
10  10  20  30  40  50  60  70  80  90  100

In [7]:
# Using the examples above, in this cell use a loop to populate a dicitonary that
# you'll then use to make a dataframe of all the possible combinations of sandwiches
# from the following two lists. Don't think too hard, it doesn't matter if
# combinations are repeated. You'll want the following three lines of the code at the
# end to format the dataframe:
# combinations_df = (pd.DataFrame(combinations)) 
# combinations_df['topping'] = toppings
# combinations_df.set_index('topping')

spreads = ['butter', 'jam', 'peanut butter']
toppings = ['ham', 'cheese', 'sardines']
filling = []
combinations = {} 

spreads = ['butter', 'jam', 'peanut butter']
toppings = ['ham', 'cheese', 'sardines']
filling = []                               
combinations = {} 

## loop 
for i in spreads: 
    for j in toppings:
        filling.append(f'{i} and {j}')
    combinations[i] = filling
    filling = []


combinations_df = (pd.DataFrame(combinations))
combinations_df['topping'] = toppings
combinations_df.set_index('topping')


## This has the error with list again 'List object is not calculabl' perhaps this is because it was already defined as a list...

                       butter               jam               peanut butter
topping
ham            butter and ham       jam and ham       peanut butter and ham
cheese      butter and cheese    jam and cheese    peanut butter and cheese
sardines  butter and sardines  jam and sardines  peanut butter and sardines

## Session 3 Group work
Work out how to use zip() to collect elements from two lists together and use a loop to print them element-wise, so, if I had 1, 2, 3, 4, 5 and a, b, c, d, e stored as seprate lists, my loop would print a1, b2, etc.
Initialise two variables, one a list of first names and one a list of surnames of everyone in the group. Next, use nested loops to print all the different first/last name combinations.
Write a for loop that takes a list of numbers, finds the square of each, and adds the squares to a new list that starts empty.
Write a loop that sums all the numbers up to 100, and assigns the answer to a variable

In [14]:
firstnames = ['Felix', 'Teigan', 'Zivile']
surnames = ['Enterkin', 'Berre', 'Jakatie']


Zipped_names = zip(firstnames, surnames)

## Creating a loop to join first and surnames, printing them pairwise 
for pair in zip(firstnames, surnames):
    print(pair)


## Nested Names loop 
for first in firstnames:
    for last in surnames:
        print(f'{first} {last}')



## Squared Numbers 

numbers = list(range(11))
numbers.pop(0)

squares = []

for number in numbers:
    square = number **2
    squares.append(square)

print(squares)

## Sum of numbers 1 to 100

numbers = range(1,101)
awnser = 0

for number in numbers:
    awnser += number

print(awnser)

('Felix', 'Enterkin')
('Teigan', 'Berre')
('Zivile', 'Jakatie')
Felix Enterkin
Felix Berre
Felix Jakatie
Teigan Enterkin
Teigan Berre
Teigan Jakatie
Zivile Enterkin
Zivile Berre
Zivile Jakatie
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
5050

## Session 4

We've touched on some iterators now, but honestly, lots of the time we might want to iterate, there may be another built in method or funciton that will do the same thing but quicker. It's still important to know how they work though. Let's look at conditionals and equalities now. We'll get back a dataframe from an older session so as to not re-write it from scratch. First, we'll look briefly at equalities as they will often be important for structuring our conditionals.

In [15]:
df = pd.DataFrame({'ChildId':['id1', 'id2', 'id3', 'id4', 'id5'],
                   'Age first contact':[6,12,11,1,19],
                   'Gender':['M','m', 'F', '', 'F' ],
                   'Birthday':['01/01/2002', '02/02/2003', pd.NA, '03/03/2023', '06/01/2012'],
                   'Age':[5,12,11,6,2],
                   'CP Plan?':['Y', 'n', 'N', 'No', 'yES'],})
df['Birthday'] = pd.to_datetime(df['Birthday'], dayfirst=True)
df

  ChildId  Age first contact Gender   Birthday  Age CP Plan?
0     id1                  6      M 2002-01-01    5        Y
1     id2                 12      m 2003-02-02   12        n
2     id3                 11      F        NaT   11        N
3     id4                  1        2023-03-03    6       No
4     id5                 19      F 2012-01-06    2      yES

In [16]:
# Let's make a selection of row thats are off in the dataframe and have errors, 
#lets say where there is an error in ages, you can' be younger than
# your age of first contact, now can you?

# This returns True or False in each row based on whether the condition is satisfied
condition = df['Age'] < df['Age first contact'] 
print(condition)

# This looks at the trues and falses, and only takes rows where it's true for the new df
# We can negate this by using a ~ operator which means 'not'
error_df = df[condition] 
print(error_df)

# We could actually write it like this, all in one line:
# error_df = df[df['Age'] < df['Age first contact']]
# But for learning the original way is clearer

0     True
1    False
2    False
3    False
4     True
dtype: bool
  ChildId  Age first contact Gender   Birthday  Age CP Plan?
0     id1                  6      M 2002-01-01    5        Y
4     id5                 19      F 2012-01-06    2      yES

The most common operators we will use are &, |, ~, <, >, ==, !=, <=, >= which are: and, or, not, less than, greater than, equals, not equal, greater/equal, less/equal in order.
With the <>, remember, the crocodile eats the bigger number! If you're unclear about how logical operators work:
& will return true when both requirements are satisfied,
| will return true if one OR the other is satisfied, or both (so, at least one)
Lets see this with some examples

In [ ]:
print(((1 > 2) & (2 == 2))) # false, because 1 is not greater than 2 and both need to be true
print(((1 > 2) | (2 == 2))) # True because at least one of the components is true,
                            # even though 1 is not greater than 2
print(((3 > 2) | (2 == 2))) # Still true, as at least one is true
print(((3 > 2) & (2 == 2))) # Only strue because both are true

In [ ]:
# In this cell, writet a logical test that fails an and condition,
# but passes an or condition, and print both
print(3 > 2 & 6 == 7)
print(5 == 6 | 5 == 7 )

Conditionals also come in the form of if/elif/else/while etc statements, which often use the logical operators seen above. They can be though of as giving some framework to tell Python whether or not to do an action, or what action to perform given the value of some piece of data or state in the code. For instance, you might want to run a piece of code only if the data it processes has been validated to not have errors, which you can do with conditionals. In more complex code, you might want to run a piece of code differently based on user inputs or what data has been passed to the code, which again, can be handled with conditionals. Let's have a look at some simple examples.

In [17]:
some_numbers = list(range(10))
for i in some_numbers:
    # Just like loops, everything indented after an if happens if the if is satisfied
    if (i %2 == 0) & (i != 0): 
        print(f'{i} is even')
    # Elif is useful as it says if the previous condition is not satisfied,
    # if this condition is satisfied, do this
    elif i %2 != 0: 
        print(f'{i} is odd')
    else:
        # 'else' means, if all the ifs and elifs fail, do this.
        print('Then i must be zero')

Then i must be zero
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd

In [ ]:
fruits = ['bananna', 'apple', 'orange', 'pear', 'plum']
for fruit in fruits:
    # in is really useful in conditionals if we need a piece of data to contain, 
    # or not contain, some other piece of data
    if 'a' in fruit: 
        print(fruit)

In [ ]:
for i in some_numbers:
    if (i %2 == 0): 
        print(f'{i} is even')
    # We can also have multiple ifs on the same level, meaning that each is checked individually, 
    # and will each happen if each is true    
    if i %3 == 0: 
        print(f'{i} is divisble by 3')
    else:
        print("i isn't even, or divisble by 3") # 'else' means, if all the ifs and elifs fail, 
        # do this.

In [ ]:
for i in some_numbers:
    if (i %2 == 0) & (i != 0): 
        # We can also chain if elses, and place them within eachother.
        # Don't use too many levels of this if possible, it can get confusing
        if i %3 == 0:
            print(f"{i} is divisible by 3 and 2")
        else:
            print(f"{i} is even, but not divisible by 3")
    else:
        print(f"{i} is either zero, or isn't even, or divisble by 3")
        # 'else' means, if all the ifs and elifs fail, do this.

'while' is useful, it allows an action/loop to be continued until some set of conditions is satisfied. In some statistical work, for instance, one might continue to run some calculation until errors hit an acceptable level, we coulld also use while to keep running an operation a number of times. See the simple implementation bellow.

In [ ]:
x = 0
# Checks the value of x, if it's less than 10, it runs the loop. 
# There's lots of ways to get the same outcome, but this is clean.
while x < 10: 
    print(x)
    x += 1 # x is equal to x plus 1

## Group work for session 4
Write a loop that sums all the even numbers up to 100, all the odd numbers up to 100, and assigns each answer to a seprate variable.

A narcissistic number (named after the Narcissus of Greek myth, a handsome hunter who fell in love with his own reflection) is one such that if you take each digit of the number, raise them separately to the power of how many digits there are and then add these together, you return to your original number. For instance 9^4 + 4^4 + 7^4 + 4^4 = 9474 (where ^ is to the power of) is a narcissistic number as each of the digits that make it up (9, 4, 7, 4) to the power of the number of digits making it up (4) added together makes 9474. Use this knowledge to write a loop which returns the first 20 narcissitic numbers as a list, and stops looping when it gets 20 entries.

As always, there's a 'learn to google' extension to the assignment. Place your narcisitic numbers loop inside another loop that changes the length of the list found to create lists with the first 10, 20, and 30 narcisitic numbers. As well as this, work out a way to time how long each version of the loop takes to make each list and assign the answers to variables so you can print something like 'finding the first <n> narcissistic numbers in a for loop takes <x> seconds' for 10, 20, and 30.

In [3]:
## Loop summing the numbers 1 to 100 
numbers = range(101)
even = 0
odd = 0 

for i in numbers: 
    if (i %2 == 0):
        even = even + i

    if (i %2 != 0):
        odd += i
print(even)
print(odd)

2550
2500

In [4]:
## Narsististic Number loop 

number = 0
number_list = []

while len(number_list) <= 20:
    digits = str(number)
    length = len(digits)
    product = 0
        
    for digit in digits:
        digit2 = int(digit)**length
        product += digit2
        
    if number == product:
        number_list.append(product)
    number += 1  
print(number_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407, 1634, 8208, 9474, 54748, 92727, 93084, 548834]

In [10]:
### Repeated iterations of the Narsisistic number function 

iterations = [10, 20, 21]
list = []
number = 0 

for iteration in iterations:
    number = 0
    number_list = []

    while len(number_list) <= iteration:
        digits = str(number)
        length = len(digits)
        product = 0
        
        for digit in digits:
            digit2 = int(digit)**length
            product += digit2
        
        if number == product:
            number_list.append(product)
        number += 1 
    print(number_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 153]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407, 1634, 8208, 9474, 54748, 92727, 93084, 548834]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407, 1634, 8208, 9474, 54748, 92727, 93084, 548834, 1741725]