# Session 5

### Points on Making Functions

Make functions as simple as possible

* Use meaningful names for functions (and variables, classes etc.) e.g. check_year

* Create docstrings for every function describing what it does

* Create unit tests for as many functions as possible

* Always work on a non /main branch

* Create new branches for each issue you want to fix

* Don't repeat yourself (if you're going to do something multiple times try and turn it into a function/class)

Functions are repeatable bits of code, a good rule of thumb is if you think you might have to repeat an action more than once, write it as a function, and if you find yourself repeating an action more than once, re-write it as a function.

In [9]:
# We tell Python we want to start defining a function with def, name it (generally snake case), 
# put arguments in brackets, then colon to start defining

def sum_function(x, y): 
    '''It is good practice to write a docstring for every function explaining what it does.
    These are done with three apostrphes. Different organisations/repos will have preferences 
    for the style a docstring should use. Generally, a docstring says: what a  function does,
     what goes in, what comes out. Here is a docstring example for this function:
     
     Adds two numbers, returns the result.
     
     Args:
        x, y: Numbers to be added
    
    Returns:
        z: The sum of the args x and y.
    '''
    z = x + y
    # The return statement is important, when you set a variable equal to a function,
    # it tells Python what you want the variable to equal
    return z 
sum_4_5 = sum_function(4, 5)
print(sum_4_5)

9

When writing a function we can make a docstring that conains a description of what teh function does. The standard format details what the function does, where it goes and what it returns. In this exampel above the docstring also includesa a description of each argument that the function takes. When the cursor is whithin the brackets of the function teh docstring is the description box that pops up. We can see this with pre-built bpackedges from python librarys however we can also test this by building out own functions and creating custom docstrings.

In [10]:
# Now it's your go. Write a function, with an appropriate name and a 
# docstring that explains: what it does, the arguments, and what it returns,
# that divides one number by the other. Bonus points if you can make the function 
# always divide the larges of the two numbers by the smallest.
# Call the function and print it.

def divide_large(x,y):
    '''
    This function sorts two numbers by size. Then divids the larger number by the smaller.
    Args:
        x,y: Numers to be input 
    Return:
        z: The result of dividing the larger number than the smaller
    '''
    if x > y:
        z = x / y
    elif y > x:
        z = y / x 
    else:
        z = f'Numbers are Equal'

    return z 

divide_large(25,5)

5.0

In [11]:
# Notice the names of the functions explain clearly what the function will do
def sum_prod(x, y): 
    '''Finds the sum and product of two numbers, returning the result.
    
    Args:
        x, y: Numbers for which the sum and product will be found.
        
    Returns:
        sum: The sum of x and y.
        prod: The product of x and y.
    '''

    sum = x + y
    prod = x * y
    # Notice here the function returns two things, when we call the function, 
    # notice how we assign variables to each of those variables
    return sum, prod 

sum_3_4, prod_3_4 = sum_prod(3, 4)

# In the print statement below we've used an f string to allow us to use 
# variables inside the string (preceed with an f, variables inside {})
# We've also written the string over two lines, using \ to tell 
# Python the string continues on the next line.
# We have also used \n to tell Python that there should be a line break in the string

print(f'The sum of 3 and 4 is {sum_3_4}\
     \nThe product of 3 and 4 is {prod_3_4}.')

The sum of 3 and 4 is 7
The product of 3 and 4 is 12.

In [12]:
# Write a new function that takes two numbers as an argument and returns 
# the answer when one is divided by the other, and the answer when one is subtracked from the other.
# Return both answers and assign them variables, then print these two variables.

def div_min(x, y): 
    '''Divide and subtract two numbers
    args:
        x,y: the numerator and the demoniator 

    Return:
        div: the first number divide by the second
        minus: the first number minus the second 
    '''
    div = x / y 
    minus = x - y
    return div, minus

div, min = div_min(10, 5)

print(f'The number 10 divided by 5 is {int(div)}\
      \nThe number 10 minus 5 is {min} ')

The number 10 divided by 5 is 2
The number 10 minus 5 is 5

We generally want functions do do the most suitably simple thing we can, which often means chaining functions, putting multiple functions inside others. This way each individual step can be turned into its own function and these can be assabled into a more coplicated function. The advantage of this, I assume, is that it is easier to trouble shoot as you will be able to identify which sub function an error occured in.

In [13]:
def sum_xy(x, y):
    ''' Sums two values.
    
    Args:
        x, y (int): values to be summed.
    
    Returns:
        Sum of x and y.
    '''
    return x + y


def prod_xy(x, y):
    '''Find the product of two values.
    
    Args:
        x, y (int): values to be multipled.
    
    Returns:
        Product of x and y.
    '''
    return x * y


def prod_sum(x, y):
    '''Find the product and sum of two values.
    
    Args:
        x, y (int): values to be multipled.
    
    Returns:
        Sum and product of x, y
    '''

    return sum_xy(x, y),  prod_xy(x, y)


val_1, val_2 = prod_sum(5, 6)

print(val_1, val_2)

11 30

In [14]:
# In this cell, first, import the 'math' module.

import math 

# Next, write a function that squares a number (hint: you can simply uses x*x), 

def square(x):
    return x*x

# Now write a function that uses math.sqrt() to find the square root of a number 

def square_root(x):
    return math.sqrt(x)

# (hint: https://docs.python.org/3/library/math.html#math.sqrt)
# Then, write a funciton that performs both of these functions and returns both answers.

def squares(x):
    a = square(x)
    b = square_root(x)
    return a, b

# Finally, call the function getting two variables as your answer, and print them.

awnser_1, awnser_2 = squares(3)
print(awnser_1, awnser_2)

9 1.7320508075688772

When we write functions, it's good practice to raise errors that we expect might occur. This way when something predictable goes wrong we can easily identify what that is. For instance when we are using arithmatic any input value must be numerical for 5the functiobn to work, shouold you put a tring in it will fail. As a result we can build in clauses that will raise an error based on a condition. By dfoing it this way we can aalos create our own custom error message to tell us what has gone wrong.

In [15]:
def addition_xy(x, y):

    if ((type(x) == float) | (type(x) == int)) & ((type(y) == float) | (type(y) == int)):
        return x + y
    
    elif (type(x) == str) | (type(y) == str):
        
        if type(x) == str:
            raise TypeError('x was a string, expected a float or int')
        
        if type(y) == str:
            raise TypeError('y was a string, expected a float or int')

addition_xy(5, 4)

9

In [16]:
# Below is a function that checks if the argument passed to it is an apple or not. 
# If it's not an apple, it'll just pass to the next thing.
# We want to make sure that people only every pass it apple as arguments, 
# and we want it to throw an error if it doesnt.
# Replace the 'pass' in the else block with a line that raises a ValueError with a suitable message.

def apple_or_error(thing):
    if thing == 'apple': 
        print("it's an apple")
    else:
        raise ValueError('Input is not an apple')


apple_or_error("appe")

ValueError: Input is not an apple

Recall back to the session on Pandas, we briefly used lambda functions. Lambda functions let us define and use a function in one line, pandas is just one of many times they're really useful. They can often do similar things to list comprehensions, so it's worth touching both. List comprehensions give us syntax to make a new list based on a pre existing list.

In [ ]:
# Lambda function, (lambda variables: expression)(argument)
square_function = (lambda x: x*x) 
square = square_function(3)
print(square)

# Lambda function in one line, (lambda variables: expression)(argument)
divided = (lambda x, y: x / y)(10, 2) 
print(divided)

# Uses list on range 20 to get a list of numbers from 0 to 20
numbers = list(range(20)) 
print(numbers)

# Uses a list comprehension to get even numbers form the 'numbers' list, 
# using the fact that if the modulus (remainder) of a number/2 is 0, it's even

evens = [x for x in numbers if x %2 == 0] 
print(evens)

9
5.0
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
# In this cell, write a lambda function to add a number to itself 
# and assign that function to a variable, run it, print the answer.

addition = (lambda x: x+x)
addition(3)


# Next, use a list comprehension to create a new list from the list 'numbers' 
# already made, that adds 10 to every number. Print it.

numbers = list(range(15))
numbers_10 = [num + 10 for num in numbers]
print(numbers_10)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [ ]:
# list comprehension to get all the square numbers with roots from 0-10

squares_comp = [x*x for x in range(11)] 
print(squares_comp)

# This seems pointless given the above option, just know it's possible as there
# may be a time when you want it
# note here we've defined our lambda function to be able to be used at a later date

f = lambda x : x*x 

squares_lamb_comp = [f(x) for x in range(11)] 
print(squares_lamb_comp)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Group work for session 5
Remember the CSV from Ggroup work for session 2:
https://raw.githubusercontent.com/data-to-insight/D2I-Jupyter-Notebook-Tools/main/ERN-worksheets/data/1980%202023%20average%20house%20prices.csv

Read the CSV into a dataframe with a sensible name.
Write a function that takes in in the dataframe as an argument, finds the mean value for percentage change in house price per time period, and creates a new column assigning the strings 'above', 'below', and equal' to the dataframe based on the values relative to the mean. Have the function return this new dataframe and assign it back to the original variable containing the dataframe.

In [ ]:
import pandas as pd 

df = pd.read_csv("https://raw.githubusercontent.com/data-to-insight/D2I-Jupyter-Notebook-Tools/main/ERN-worksheets/data/1980%202023%20average%20house%20prices.csv")

## test if loaded
df.head()

,Name,Period,House price index All property types,Average price All property types,Percentage change (monthly) All property types,Percentage change (yearly) All property types
0,United Kingdom,1980-01,10.11,19273,3.94,28.59
1,United Kingdom,1980-02,10.11,19273,3.94,28.59
2,United Kingdom,1980-03,10.11,19273,3.94,28.59
3,United Kingdom,1980-04,10.51,20044,4.00,24.15
4,United Kingdom,1980-05,10.51,20044,4.00,24.15

In [ ]:
# take the dataframe as an argument 
def mean_house_price(df):
# find the mean value for percentage change in house price per time period 
    mean = df['Percentage change (monthly) All property types'].mean()

# create a comun aswsigning the above strings 'above', 'below' or 'equals' to the dataframe based on the values relative to teh maen 
    df['Relative Position'] = df['Percentage change (monthly) All property types'].apply(
        lambda x: 'Above' if x > mean else ('Below' if x < mean else 'Equals'))
    
# have the function return this new dataframe to the old dataframe 
    return df

mean_house_price(df)

,Name,Period,House price index All property types,Average price All property types,Percentage change (monthly) All property types,Percentage change (yearly) All property types,Location,Relative Position
0,United Kingdom,1980-01,10.11,19273,3.94,28.59,,Above
1,United Kingdom,1980-02,10.11,19273,3.94,28.59,,Above
2,United Kingdom,1980-03,10.11,19273,3.94,28.59,,Above
3,United Kingdom,1980-04,10.51,20044,4.00,24.15,,Above
4,United Kingdom,1980-05,10.51,20044,4.00,24.15,,Above
...,...,...,...,...,...,...,...,...
518,United Kingdom,2023-03,148.20,282548,-1.00,3.20,,Below
519,United Kingdom,2023-04,148.90,283871,0.50,2.50,,Below
520,United Kingdom,2023-05,149.50,285053,0.40,1.60,,Below
521,United Kingdom,2023-06,151.20,288281,1.10,1.90,,Below
522,United Kingdom,2023-07,152.00,289824,0.50,0.60,,Below

## Group work for session 6
Using what we've seen about loops and conditionals, there are two tasks. The first task is to write some code that plays the game 'FizzBuzz'. FizzBuzz is a common test given in coding interviews. All you need to do is write some code that goes through the numbers 1-100, and, where a number is divisible by 3, print Fizz, 5, print Buzz, and both, print FizzBuzz, in other cases just print the number. For instance, for 3, the code should print Fizz, for 5 Buzz, and for 15 FizzBuzz, and for 8, just 8.

It shouldn't be too hard to write some code that does it, but two write good clean code that does it will be harder. Some things to remember are: using suitable variable and iterator names, writing fewer lines of code where possible, wirting suitable comments for your code, etc.

The second task is harder, and will test another important skill, your ability to google. I want you to write some code that simulates a coin flip and produces a heads or a tails. I would like you to write that code such that it keeps running until the number of heads produced by the code is the same as the number of tails. As an extension, it would be a good exercise to try packaging it up in a function, AND, running the simulation multiple times to find an average number of flips needed for the number of heads to equal the number of tails. TIP: this might be a good place to start https://docs.python.org/3/library/random.html

In [1]:
# go through the numbers 1-100
# were divisible by 3 print 'Fizz' 
# divizible by 5 print buzz 
# both fizz buzz 
# otheerwise return the number 

for i in range(1, 101):
    if (i %3 == 0)  & (i %5 == 0):
        print('FizzBang')
    elif (i %3 == 0):
        print('Fizz')
    elif (i %5 == 0):
        print('Bang')
    else:
        print(i)

1
2
Fizz
4
Bang
Fizz
7
8
Fizz
Bang
11
Fizz
13
14
FizzBang
16
17
Fizz
19
Bang
Fizz
22
23
Fizz
Bang
26
Fizz
28
29
FizzBang
31
32
Fizz
34
Bang
Fizz
37
38
Fizz
Bang
41
Fizz
43
44
FizzBang
46
47
Fizz
49
Bang
Fizz
52
53
Fizz
Bang
56
Fizz
58
59
FizzBang
61
62
Fizz
64
Bang
Fizz
67
68
Fizz
Bang
71
Fizz
73
74
FizzBang
76
77
Fizz
79
Bang
Fizz
82
83
Fizz
Bang
86
Fizz
88
89
FizzBang
91
92
Fizz
94
Bang
Fizz
97
98
Fizz
Bang

In [239]:
# I want you to write some code that simulates a coin flip and produces a heads or a tails. 
# I would like you to write that code such that it keeps running until the number of heads produced by the code is the same as the number of tails. 

# As an extension, it would be a good exercise to try packaging it up in a function, AND, 
# running the simulation multiple times to find an average number of flips needed for the number of heads to equal the number of tails. 
# TIP: this might be a good place to start https://docs.python.org/3/library/random.html

import random

def flip(p):
    return random.random() < p

def coin():
    if flip(0.5):
        return "Heads"
    else:
        return'Tails'

H = 0 
T = 0
counter = 0 

while (counter == 0) | (H != T):
    if flip(0.5):
        H += 1
    else:
        T += 1
    counter += 1

print(f'It took {counter} trials and we got to {H} heads and {T} tails')

It took 28 trials and we got to 14 heads and 14 tails

In [322]:
## Placing this loop inside of a function 

def flips():
    H = 0 
    T = 0
    counter = 0 
    while (counter == 0) | (H != T):
        if flip(0.5):
            H += 1
        else:
            T += 1
        counter += 1
    return counter

flips()

4

In [354]:
## Creating a sumlation that test the average number of trials needed 
iterate = 100
flips_list = []

for i in range(iterate):
    num_flips = flips()
    flips_list.append(num_flips)
    average = sum(flips_list) / len(flips_list)
    
average

60.38