# Session 8

This file contains the session notes for session 8 of the course.

Today we are looking at writing functions in python.

In [2]:
# We can define a function using the def command 

def sum_function(x, y):
    '''
    Finds the sum of two numbers, prints the result.
 
    Args:
        x: The first number to sum.
        y: The second number to sum.
   
    Returns:
        N/A
    '''
    z = x + y
    return z 

sum_function(5,8)

13

If we specify the imput in teh function using `x=` or `y=` then they do not have to be in the same order

In [3]:
sum_function(y=8,x=45)

53

We could always speify a default parameter in teh function call. This meamns that if we have not specified x then the default number will be 10. If we wanted to speciofy a number that couldnt be changed then we woul specify it in the body of the function rather tahnin the arguments. In the below function the function `summation` takes the arguments `x` and `y`. If no `x` or `y` values arev given then they both take the defult value of 10. `a` is also given the value of 10 in this function however as it is not done as an argument this cannot be changed.

In [ ]:
def sum_function(x=10,y):
    a = 10 
    z = x + y
    return z

In [4]:
# Now it's your go. Write a function, with an appropriate name
# that divides one number by the other. Bonus points if you can make the function
# always divide the largest of the two numbers by the smallest.
# Get the function to print the answer

def divide(x, y):
    if x > y:
        z = x/y
    else:
        z = y/x
    return z

divide(12,4)

3.0

We need to writ comments on our code so that we or someone else

dont explain what teh code does taht is obvious, but rather why you have done struff. The code should be self documenting as you can technically retrace every step however it is far easier ion you4r brain to explain why it is there.

if we want to write a comment over multipel lines we can use a docstring. Here we will use sphinx doctrings which are quite common.

Docstrings are commonly used inside of a function however we couodl also just use them in a code chunck if we wanted detailed comments.

In [5]:
'''
So here we can write quite substantial comments 
that go over mutiple lines 
'''

sum_function(7,8)

15

functions have a thing called function scope. this means that variables initialised in a function are only accessable within t
the function - it does not leave the function (local scope). This is different to a loop where if something is initialised it will be accessable outside of the loop.

In [6]:
# write a function that returns x / y and x - y,
# # always dividing the biggest by the smallest number
# # and always taking the smallest fromt he biggest 

def func(x,y):
    if x > y:
        a = x / y 
        b = x - y
    else:
        a = y / x 
        b = y - x 
    return a , b

func(100,20)

(5.0, 80)

if you are getting a function to perform lost of tasks it is better to define each one seperatly and then craete a master function that calls the other functions. this allows us to identify where a problem is far easier if we need to trouble shoot.

We can also add optional parameters in python uining an *

In [ ]:
def func(x,y,*z):

In [9]:
# In this cell, first, import the 'math' module.
# Next, write a function that squares a number (hint: you can simply uses x*x),
# Now write a function that uses math.sqrt() to find the square root of a number
# (hint: https://docs.python.org/3/library/math.html#math.sqrt)
# Then, write a funciton that performs both of these functions and returns both answers,
# Finally, call the function getting two variables as your answer, and print them.

import math

def square_f(x):
    return x**2

def root_f(x):
    return math.sqrt(x)

def master_f(x):
    return square_f(x), root_f(x)

master_f(5)

(25, 2.23606797749979)

In [13]:
import pandas as pd 

df = pd.read_csv(r'https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv')

df

     Unnamed: 0        LAchildID Ethnicity
0             0  RND000215205141      WIRT
1             1  RND000824303014      WROM
2             2  RND000750143123      AOTH
3             3  RND000909164501      MWBC
4             4  RND000382171815      APKN
..          ...              ...       ...
327         327  RND000112711501      WOTH
328         328  RND000513120794      WROM
329         329  RND000541643134      BCRB
330         330  RND000404939452      AIND
331         331  RND000589802835      WBRI

[332 rows x 3 columns]

In [15]:

## new data 
df = pd.read_csv(f'https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv')
df

,Unnamed: 0,LAchildID,UPN,FormerUPN,UPNunknown,PersonBirthDate,ExpectedPersonBirthDate,GenderCurrent,PersonDeathDate
0,0,RND000215205141,A850728973744,NaN,NaN,2019-12-06,NaN,1,NaN
1,1,RND000824303014,A141396438491,NaN,NaN,2011-04-27,NaN,9,NaN
2,2,RND000750143123,A929946861554,NaN,NaN,2017-06-06,2019-12-06,1,NaN
3,3,RND000909164501,A612330267292,NaN,NaN,2014-10-03,NaN,0,NaN
4,4,RND000382171815,A604459366806,NaN,NaN,2019-09-25,NaN,2,NaN
...,...,...,...,...,...,...,...,...,...
327,327,RND000112711501,A465246916125,NaN,NaN,2010-07-07,NaN,2,NaN
328,328,RND000513120794,A540014111973,NaN,NaN,2018-08-14,NaN,2,NaN
329,329,RND000541643134,A549582689058,NaN,NaN,2021-12-09,NaN,51,NaN
330,330,RND000404939452,A889492349196,NaN,NaN,2013-07-23,NaN,2,NaN
331,331,RND000589802835,A877624860226,NaN,NaN,2021-10-25,NaN,9,NaN

In [25]:
'''
'https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv'
write a function that calculates ages based on the data, and returns a new column in age range buckets
0-5, 6-11, 12-17, 17+
 
convert that to a datetime
find the difference between the datetime and today
if else statements to put that difference in time in a bucket
return as a string the appropriate buckets to a new column
 
'''

def convert_date(df):
    df['PersonBirthDate'] = pd.to_datetime(df['PersonBirthDate'], format='%Y-%m-%d')
    return df

def calculate_age(df):
    df['Age'] = pd.to_datetime('today') - df['PersonBirthDate']
    df['Age'] = df['Age'] / pd.Timedelta(365.25,'d')
    return df

def buckets(df):
    if (df['Age'] < 6):
        df['buc'] = '0-5'
    elif (df['Age']) >=6 & (df['Age'] < 12):
        df['buc'] = '6-11'
    elif (df['Age']) >=12 & (df['Age'] < 17):
        df['buc'] = '12-17'
    else:
        df['buc'] = '17+'

buckets(df)
df

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [27]:
import numpy as np 

df = pd.read_csv(f'https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv')
df

def age_bucket(date):
    bd = pd.to_datetime(date, format='%Y-%m-%d')

    age = pd.to_datetime('today') - bd 

    if age < pd.Timedelta(years=6):
        return '0-5 years old'
    elif age < pd.Timedelta(years=12):
        return '6-11 years old'
    elif age < pd.Timedelta(years=17):
        return '12-17 years old'
    else:
        return '18+ years old'
    
df['Age Buckets'] = df['PersonBirthDate'].apply(age_bucket)

df['Age Buckets', 'PersonBirthDate']

AttributeError: module 'pandas' has no attribute 'Timedelta64'

In [28]:

import numpy as np
 
df = pd.read_csv('https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv')
 
def age_bucket(date):
    bd = pd.to_datetime(date, format="%Y-%m-%d")
 
    age = pd.to_datetime('today') - bd
 
    age = age / pd.Timedelta(365.25, 'd')
 
    if age < 6:
        return '0 - 5 years old'
    elif age < 12:
        return '6 - 11 years old'
    elif age < 18:
        return '12 - 17 years old'
    else:
        return '18+ years old'
   
df['Age bucket'] = df['PersonBirthDate'].apply(age_bucket)
 
df[['PersonBirthDate', 'Age bucket']]

    PersonBirthDate         Age bucket
0        2019-12-06    0 - 5 years old
1        2011-04-27  12 - 17 years old
2        2017-06-06   6 - 11 years old
3        2014-10-03   6 - 11 years old
4        2019-09-25    0 - 5 years old
..              ...                ...
327      2010-07-07  12 - 17 years old
328      2018-08-14    0 - 5 years old
329      2021-12-09    0 - 5 years old
330      2013-07-23   6 - 11 years old
331      2021-10-25    0 - 5 years old

[332 rows x 2 columns]