# Session 8

This file contains the session notes for session 8 of the course.

Today we are looking at writing functions in python. These are incredible useful as they allow us to save a particular step or process and then apply it again when needed. The functions that we will be looking at in this session are not necisarrily usefull functions to build but rather they allow us to illustrate how we create and use our on functions.

In [12]:
# Set Up 
import pandas as pd

In [9]:
# We can define a function using the def command 

def sum_function(x, y):
    '''
    Finds the sum of two numbers, prints the result.
 
    Args:
        x: The first number to sum.
        y: The second number to sum.
   
    Returns:
        N/A
    '''
    z = x + y
    return z 

sum_function(5,8)

13

If we specify the imput in teh function using `x=` or `y=` then they do not have to be in the same order. However if we input two values without specifying it will take the former as x and the later as y, as the function is structured.

The docstring is used to add additional information anout the function, this will appear in the popo up bubble/box when writing the function as with premade functions.  We can also ustlise doctring normally in the code chunck rather than using the # if we needed multiple lines.

In [10]:
sum_function(y=8,x=45)

53

## Specifying Arguments

We could always speify a default parameter in the function call. This meamns that if we have not specified x then the default number will be 10. If we wanted to speciofy a number that couldnt be changed then we woul specify it in the body of the function rather tahnin the arguments. In the below function the function `summation` takes the arguments `x` and `y`. If no `x` or `y` values arev given then they both take the defult value of 10. `a` is also given the value of 10 in this function however as it is not done as an argument this cannot be changed.

In [5]:
def sum_function(x=10, y=0):
    a = 10 
    z = x + y
    return z

In [ ]:
# Now it's your go. Write a function, with an appropriate name
# that divides one number by the other. Bonus points if you can make the function
# always divide the largest of the two numbers by the smallest.
# Get the function to print the answer

def divide(x, y):
    if x > y:
        z = x/y
    else:
        z = y/x
    return z

divide(12,4)

3.0

### Writing comments 

We need to write comments on our code so that we or someone else. This is not just critical for other people to be able to read outr code but it also allows future us wheather next week, next month or next year to understand why whe have writtern the code we have.

When writing comments we don't need to explain the obvious. Code by its nature is self documenting and you can technically retrace and ste[p taht is performed. By looking at the functions and arguments we can trace exactly what a peice of code is doing, a quick google search will allow us to undestand what any specific pice of code does. What is important to explain is *why* code is there. 

Leaving explantions about why functions are needed not only helps others to undersnat the stages and function but makes reviewing the code far easier on the brain than attempting to disipher each intidudual funtion when we review our code. 

If we want to write a comment over multipel lines we can use a docstring. Here we will use sphinx doctrings which are quite common and a good way of explaining what a funtion does as it includes a description and example.
### Function Scope 

Functions have a thing called function scope. In Python functions have *local scope* which means that variables initialised in a function are only accessable within the function - it does not leave the function (local scope). For instance, in the below while the values of `a` and `b` are returned if we tried to use the variables `a` or `b` after using the function they will not keep this value. This is different to a loop where if something is initialised it will be accessable outside of the loop - known as *global scope*.

In [6]:
# write a function that returns x / y and x - y,
# # always dividing the biggest by the smallest number
# # and always taking the smallest fromt he biggest 

def func(x,y):
    if x > y:
        a = x / y 
        b = x - y
    else:
        a = y / x 
        b = y - x 
    return a , b

func(100,20)


# Example 1  
def sum_prod(x, y):
    sum_xy = x + y
    prod_xy = x * y
    return sum_xy, prod_xy

x_plus_y, x_times_y = sum_prod(5, 5)

print(x_plus_y)
print(x_times_y)


# Example 2 
def minus_divide(x,y):
    if x >= y:
        big = x
        small = y
    else:
        big = y
        small = x
    subtract = big - small
    division = big / small

    return subtract, division

sub, div = minus_divide(70, 100)

print(sub, div)

10
25
30 1.4285714285714286

If you are getting a function to perform lost of tasks it is better to define each one seperatly and then craete a master function that calls the other functions. this allows us to identify where a problem is far easier if we need to trouble shoot.

We can also add optional parameters in python uining an *

In [2]:
def func(x,y,*z):
    return

In [ ]:
# In this cell, first, import the 'math' module.
# Next, write a function that squares a number (hint: you can simply uses x*x),
# Now write a function that uses math.sqrt() to find the square root of a number
# (hint: https://docs.python.org/3/library/math.html#math.sqrt)
# Then, write a funciton that performs both of these functions and returns both answers,
# Finally, call the function getting two variables as your answer, and print them.

import math

def square_f(x):
    return x**2

def root_f(x):
    return math.sqrt(x)

def master_function(x):
    return square_f(x), root_f(x)

master_function(5)

(25, 2.23606797749979)

In [ ]:
# Example 
def square_x(x):
    return x ** 2

def x_power_x(x):
    return x ** x


def big_maths(x):
    sq = square_x(x)
    x_p_x = x_power_x(x)    

    return sq, x_p_x

print(big_maths(50))

We can also add optional arguments to functions. That is arguments taht can be given to a function but are not required for the function to run. In the case of the `prod_sum` because the default value for each is `None` then if arguments are not provided then they will take no value.

In [ ]:
def prod_xy(x, y):
    return x * y

def sum_xy(x, y):
    return x + y


def prod_sum(x, y, i=None, j=None):
    if i == None:
        i = x
    if j == None:
        j = y

    return prod_xy(x, y), sum_xy(i, j)


print(prod_sum(5, 10, 7, 14))

We can turn tasks that we want to perform on a dataframe into functions so that we can repeat the steps with similar datasets.

In [9]:
import pandas as pd 

df = pd.read_csv(r'https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv')
df

     Unnamed: 0        LAchildID Ethnicity
0             0  RND000215205141      WIRT
1             1  RND000824303014      WROM
2             2  RND000750143123      AOTH
3             3  RND000909164501      MWBC
4             4  RND000382171815      APKN
..          ...              ...       ...
327         327  RND000112711501      WOTH
328         328  RND000513120794      WROM
329         329  RND000541643134      BCRB
330         330  RND000404939452      AIND
331         331  RND000589802835      WBRI

[332 rows x 3 columns]

In [ ]:
def ethnic_check(row):
    if row in ['WIRT', 'WIRI', 'WBRI', 'WROM', 'WOTH']:
        return 'white'
    else:
        return 'non-white'
    
df['white'] = df['Ethnicity'].apply(ethnic_check)    

df

## Task

In [11]:
'''
'https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv'
write a function that calculates ages based on the data, and returns a new column in age range buckets
0-5, 6-11, 12-17, 17+
 
convert that to a datetime
find the difference between the datetime and today
if else statements to put that difference in time in a bucket
return as a string the appropriate buckets to a new column
 
'''

df = pd.read_csv(f'https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv')

# Example
def age_bucket(date):
    
    bd = pd.to_datetime(date, format="%Y-%m-%d")

    age = pd.to_datetime('today') - bd

    age = age / pd.Timedelta(365.25, 'd')

    if age < 6:
        return '0 - 5 years old'
    elif age < 12:
        return '6 - 11 years old'
    elif age < 18:
        return '12 - 17 years old'
    else:
        return '18+ years old'
    
df['Age bucket'] = df['PersonBirthDate'].apply(age_bucket)

df[['PersonBirthDate', 'Age bucket']]

    PersonBirthDate         Age bucket
0        2019-12-06    0 - 5 years old
1        2011-04-27  12 - 17 years old
2        2017-06-06   6 - 11 years old
3        2014-10-03   6 - 11 years old
4        2019-09-25    0 - 5 years old
..              ...                ...
327      2010-07-07  12 - 17 years old
328      2018-08-14    0 - 5 years old
329      2021-12-09    0 - 5 years old
330      2013-07-23   6 - 11 years old
331      2021-10-25    0 - 5 years old

[332 rows x 2 columns]

In [13]:

df = pd.read_csv(f'https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv')

df
df = pd.read_csv('https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv')


def bucket_maker(date_code):
    
    bday = pd.to_datetime(date_code, format="%Y-%m-%d")
    today = pd.to_datetime('today')

    if bday + pd.DateOffset(years=6) > today:
        return '0-5 years'
    elif bday + pd.DateOffset(years=12) > today:
        return '6-11 years'
    elif bday + pd.DateOffset(years=18) > today:
        return '12-17 years'
    else:
        return '18+'
    


df['Age Bucket'] = df['PersonBirthDate'].apply(bucket_maker)

df[['PersonBirthDate', 'Age Bucket']]

    PersonBirthDate   Age Bucket
0        2019-12-06    0-5 years
1        2011-04-27  12-17 years
2        2017-06-06   6-11 years
3        2014-10-03   6-11 years
4        2019-09-25    0-5 years
..              ...          ...
327      2010-07-07  12-17 years
328      2018-08-14    0-5 years
329      2021-12-09    0-5 years
330      2013-07-23   6-11 years
331      2021-10-25    0-5 years

[332 rows x 2 columns]

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv')


def bucket_maker(date_code):
    bday = pd.to_datetime(date_code, format="%Y-%m-%d")
    today = pd.to_datetime('today')
 
    if bday + pd.DateOffset(years=6) > today:
        return '0-5 years'
    elif bday + pd.DateOffset(years=12) > today:
        return '6-11 years'
    elif bday + pd.DateOffset(years=18) > today:
        return '12-17 years'
    else:
        return '18+'
    

df['Age Bucket'] = df['PersonBirthDate'].apply(bucket_maker)

df[['PersonBirthDate', 'Age Bucket']]