# Assignment 3

In [3]:
# There are two CSVs in the data folder with fake CIN census data. One is the Child Characteristics file, one is Child Identifiers.
# Using the example below for help, assign child identifiers to a suitably named variable. 
# The filepath you need is: '/workspaces/D2I-Jupyter-Notebook-Tools/ERN-worksheets/data/ChildIdentifiers.csv'
# Use the .info() method to find out about the tables
# Merge child idenfitiers with child characteristics on a suitable column shared between both tables.

# Convert all columns with dates to datetime
# The allowed gender codes for this table are 0, 1, 2, and 9, slice out a dataframe (suitably named) with only rows where this rule is violated
# Can you find any rows where someone's death date is before their birth date?
# Can you find any rows where someone has an expected birth date and an actual birth date, which should not happen?
# Can you find the average age of all children who refused to have their ethnicity taken down and wfor whom the information is not yet obtained 
# (knowing Ethnicity codes are REFU and NOBT)

In [4]:
import pandas as pd

## Load in the data 
characteristics = pd.read_csv('/workspaces/python-learning-repository/example _data/ChildCharacteristics.csv')
identifiers = pd.read_csv('/workspaces/python-learning-repository/example _data/ChildIdentifiers.csv')

## Assess both dataframes 
characteristics.info()
identifiers.info()

## The LAchildID column is found in both dataframes so we can use it to merge the two 
df = pd.merge(characteristics, identifiers, how='left', on='LAchildID')
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  332 non-null    int64
 1   LAchildID   332 non-null    object
 2   Ethnicity   332 non-null    object
dtypes: int64(1), object(2)
memory usage: 7.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               332 non-null    int64
 1   LAchildID                332 non-null    object
 2   UPN                      332 non-null    object
 3   FormerUPN                0 non-null      float64
 4   UPNunknown               0 non-null      float64
 5   PersonBirthDate          332 non-null    object
 6   ExpectedPersonBirthDate  7 non-null      object
 7   GenderCurrent            332 non-null    int64
 8   PersonDeathDate          21 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 23.5+ KB

,Unnamed: 0_x,LAchildID,Ethnicity,Unnamed: 0_y,UPN,FormerUPN,UPNunknown,PersonBirthDate,ExpectedPersonBirthDate,GenderCurrent,PersonDeathDate
0,0,RND000215205141,WIRT,0,A850728973744,NaN,NaN,06/12/2019,NaN,1,NaN
1,1,RND000824303014,WROM,1,A141396438491,NaN,NaN,27/04/2011,NaN,9,NaN
2,2,RND000750143123,AOTH,2,A929946861554,NaN,NaN,06/06/2017,06/12/2019,1,NaN
3,3,RND000909164501,MWBC,3,A612330267292,NaN,NaN,03/10/2014,NaN,0,NaN
4,4,RND000382171815,APKN,4,A604459366806,NaN,NaN,25/09/2019,NaN,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...
327,327,RND000112711501,WOTH,327,A465246916125,NaN,NaN,07/07/2010,NaN,2,NaN
328,328,RND000513120794,WROM,328,A540014111973,NaN,NaN,14/08/2018,NaN,2,NaN
329,329,RND000541643134,BCRB,329,A549582689058,NaN,NaN,09/12/2021,NaN,51,NaN
330,330,RND000404939452,AIND,330,A889492349196,NaN,NaN,23/07/2013,NaN,2,NaN
331,331,RND000589802835,WBRI,331,A877624860226,NaN,NaN,25/10/2021,NaN,9,NaN

In [5]:
## convert date comlumns to datetime 

df["ExpectedPersonBirthDate"] = pd.to_datetime(df["ExpectedPersonBirthDate"], format='%d/%m/%Y')
df["PersonBirthDate"] = pd.to_datetime(df["PersonBirthDate"], format='%d/%m/%Y')

#df["PersonDeathDate"] = pd.to_datetime(df["PersonDeathDate"], format='%d/%m/%Y')
## This column has the year 219 so it produces an error when the column is parsed through to_datetime

In [6]:
## Gender Code violations 

violation_df = df[(df["GenderCurrent"] != 0) &
                   (df["GenderCurrent"] != 1) &
                     (df["GenderCurrent"] != 2) &
                       (df["GenderCurrent"] != 9)] 
print(violation_df)

     Unnamed: 0_x        LAchildID Ethnicity  Unnamed: 0_y            UPN  \
185           185  RND000232978278      BOTH           185  A825080306658
195           195  RND000085392113      BOTH           195  A681089319070
213           213  RND000104932227      MWBC           213  A806471418586
230           230  RND000532539170      WROM           230  A374195529143
260           260  RND000426911580      MWBA           260  A540855668633
281           281  RND000717143281      BOTH           281  A151252646527
300           300  RND000477872747      WOTH           300  A451313842630
325           325  RND000174662411      OOTH           325  A648352689401
329           329  RND000541643134      BCRB           329  A549582689058

     FormerUPN  UPNunknown PersonBirthDate ExpectedPersonBirthDate  \
185        NaN         NaN      2015-11-03                     NaT
195        NaN         NaN      2015-11-25                     NaT
213        NaN         NaN      2014-10-27                     NaT
230        NaN         NaN      2005-08-20                     NaT
260        NaN         NaN      2007-12-29                     NaT
281        NaN         NaN      2019-09-25                     NaT
300        NaN         NaN      2011-01-15                     NaT
325        NaN         NaN      2005-08-08                     NaT
329        NaN         NaN      2021-12-09                     NaT

     GenderCurrent PersonDeathDate
185             10             NaN
195             15             NaN
213             20             NaN
230             10             NaN
260             11             NaN
281             20             NaN
300             50             NaN
325             50             NaN
329             51             NaN

In [7]:
## Birth death test

In [8]:
## Birth and Epected Birth Test 
# find any rows where someone has an expected birth date and an actual birth date

expected_df = df[df["PersonBirthDate"] > df["ExpectedPersonBirthDate"]]
expected_df

,Unnamed: 0_x,LAchildID,Ethnicity,Unnamed: 0_y,UPN,FormerUPN,UPNunknown,PersonBirthDate,ExpectedPersonBirthDate,GenderCurrent,PersonDeathDate
302,302,RND000665105354,APKN,302,A250252168535,NaN,NaN,2014-06-24,2011-06-03,1,NaN
324,324,RND000110305262,REFU,324,A921047772424,NaN,NaN,2022-06-13,2011-06-03,1,NaN

In [39]:
# find the average age of all children who refused to have their ethnicity taken down and wfor whom the information is not yet obtained 

ethicity = df[(df["Ethnicity"] == "REFU") | (df["Ethnicity"] == "WFOR")]

## creating a age column 

import datetime

current = datetime.date.today()
current = pd.to_datetime(current, format='%d/%m/%Y')


df["Age"] = (current - df["PersonBirthDate"])
#df["Age"] = df["Age"] / 365

df["Age"] = pd.to_numeric(df["Age"])

0      141868800000000000
1      413596800000000000
2      220752000000000000
3      305164800000000000
4      148089600000000000
              ...
327    438998400000000000
328    183254400000000000
329     78451200000000000
330    342921600000000000
331     82339200000000000
Name: Age, Length: 332, dtype: int64