# Session 3 
This is the follow along with session 3

In [1]:
import pandas as pd

In [2]:
path = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/1980%202023%20average%20house%20prices.csv"
df = pd.read_csv(path)

In [3]:
# df_l = read_excel(filepath, sheet_name=["sheet name 1", "Sheet name 2"] )
# when loading though read_excel there is an additional argument for sheets

# if we read in multiple sheets it will give us a dictionary with each sheet as a dataftame in it v

dfs = {
    "df1": "Sheet 1",
    "df2": "sheet 2"
}

#import openpyxl
# this is a packedge that allows us to read in excel files

Using Pd.red_Excle() it will defult to leading the first sheet, if you want a different one you must specify it. 


Anaconda has a really nice viewer for charts and data - will would recomend

Ignore the geeks for python etc they tend not to be very good, stacl overflow is often better

In [4]:
## Lets get teh informatio from this dataframe
df.info()
# This allows us to look t teh different columns, their names and what type of data they have 

df.head() # top row
df.tail() # bottom row

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523 entries, 0 to 522
Data columns (total 6 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Name                                            523 non-null    object
 1   Period                                          523 non-null    object
 2   House price index All property types            523 non-null    float64
 3   Average price All property types                523 non-null    int64
 4   Percentage change (monthly) All property types  523 non-null    float64
 5   Percentage change (yearly) All property types   523 non-null    float64
dtypes: float64(3), int64(1), object(2)
memory usage: 24.6+ KB

,Name,Period,House price index All property types,Average price All property types,Percentage change (monthly) All property types,Percentage change (yearly) All property types
518,United Kingdom,2023-03,148.2,282548,-1.0,3.2
519,United Kingdom,2023-04,148.9,283871,0.5,2.5
520,United Kingdom,2023-05,149.5,285053,0.4,1.6
521,United Kingdom,2023-06,151.2,288281,1.1,1.9
522,United Kingdom,2023-07,152.0,289824,0.5,0.6

In [5]:
# to raed from local files you need to import your operating system using the lines:
import os

#####

In [6]:
# Lets load new data 
childid = pd.read_csv("/workspaces/python-learning-repository/example _data/ChildIdentifiers.csv")

childid.info()
childid.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               332 non-null    int64
 1   LAchildID                332 non-null    object
 2   UPN                      332 non-null    object
 3   FormerUPN                0 non-null      float64
 4   UPNunknown               0 non-null      float64
 5   PersonBirthDate          332 non-null    object
 6   ExpectedPersonBirthDate  7 non-null      object
 7   GenderCurrent            332 non-null    int64
 8   PersonDeathDate          21 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 23.5+ KB

,Unnamed: 0,LAchildID,UPN,FormerUPN,UPNunknown,PersonBirthDate,ExpectedPersonBirthDate,GenderCurrent,PersonDeathDate
0,0,RND000215205141,A850728973744,NaN,NaN,06/12/2019,NaN,1,NaN
1,1,RND000824303014,A141396438491,NaN,NaN,27/04/2011,NaN,9,NaN
2,2,RND000750143123,A929946861554,NaN,NaN,06/06/2017,06/12/2019,1,NaN
3,3,RND000909164501,A612330267292,NaN,NaN,03/10/2014,NaN,0,NaN
4,4,RND000382171815,A604459366806,NaN,NaN,25/09/2019,NaN,2,NaN

In [7]:
# we need to convert to datetime 

df["Period"] = pd.to_datetime(df["Period"], format="%Y-%m")

in date times all of the characters start with a % sign, e.g., %m is month like 09.
In this case the dates will read YYYY-MM