# Session 3 
This is the follow along with session 3

In [35]:
import pandas as pd

Pandas allows us to work with tabula data the name itself comes from pannel data.  As a standard it is loaded in using teh call pd to make code more compact
later we will use plotly.express to plot function

In [39]:
filename = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/1980%202023%20average%20house%20prices.csv"

# for an csv file 
df = pd.read_csv(filename)

# for an excel file 
#df = pd.read_excel(filename, sheet_name=['sheet 1', 'sheet 2'])

# when loading an excel file this way teh defult behaviour is to load in the first sheet, otherwise we need to specify. 
## to illustrate: 

#df_l = read_excel(filepath, sheet_name=["sheet name 1", "Sheet name 2"] )
# this will read in each sheet as a dataframe and store it in a dictionary 
dfs = {
    "df1": "Sheet 1",
    "df2": "sheet 2"
}

# using excel files it is easier to use teh specific excel manipulation packedge openpyxl
# import openpyxl

ModuleNotFoundError: No module named 'openpyxl'


Anaconda has a really nice viewer for charts and data - will would recomend. This is what nearly all La's use to interact with python.

Ignore the geeks for python etc they tend not to be very good, stacl overflow is often better

In [ ]:
## Lets get teh informatio from this dataframe
df.info()
# This allows us to look at the different columns, their names and what type of data they have 

df.head() # top row
df.tail() # bottom row

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523 entries, 0 to 522
Data columns (total 6 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Name                                            523 non-null    object
 1   Period                                          523 non-null    datetime64[ns]
 2   House price index All property types            523 non-null    float64
 3   Average price All property types                523 non-null    int64
 4   Percentage change (monthly) All property types  523 non-null    float64
 5   Percentage change (yearly) All property types   523 non-null    float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 24.6+ KB

,Name,Period,House price index All property types,Average price All property types,Percentage change (monthly) All property types,Percentage change (yearly) All property types
518,United Kingdom,2023-03-01,148.2,282548,-1.0,3.2
519,United Kingdom,2023-04-01,148.9,283871,0.5,2.5
520,United Kingdom,2023-05-01,149.5,285053,0.4,1.6
521,United Kingdom,2023-06-01,151.2,288281,1.1,1.9
522,United Kingdom,2023-07-01,152.0,289824,0.5,0.6

In [ ]:
# to raed from local files you need to import your operating system using the lines:
import os

# this module allows us to interact wioth files folder and directories

In [ ]:
# Lets load new data 
childid = pd.read_csv("/workspaces/python-learning-repository/example _data/ChildIdentifiers.csv")

childid.info()
childid.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               332 non-null    int64
 1   LAchildID                332 non-null    object
 2   UPN                      332 non-null    object
 3   FormerUPN                0 non-null      float64
 4   UPNunknown               0 non-null      float64
 5   PersonBirthDate          332 non-null    object
 6   ExpectedPersonBirthDate  7 non-null      object
 7   GenderCurrent            332 non-null    int64
 8   PersonDeathDate          21 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 23.5+ KB

,Unnamed: 0,LAchildID,UPN,FormerUPN,UPNunknown,PersonBirthDate,ExpectedPersonBirthDate,GenderCurrent,PersonDeathDate
0,0,RND000215205141,A850728973744,NaN,NaN,06/12/2019,NaN,1,NaN
1,1,RND000824303014,A141396438491,NaN,NaN,27/04/2011,NaN,9,NaN
2,2,RND000750143123,A929946861554,NaN,NaN,06/06/2017,06/12/2019,1,NaN
3,3,RND000909164501,A612330267292,NaN,NaN,03/10/2014,NaN,0,NaN
4,4,RND000382171815,A604459366806,NaN,NaN,25/09/2019,NaN,2,NaN

In [ ]:
# we need to convert to datetime 

df["Period"] = pd.to_datetime(df["Period"], format="%Y-%m")
# here we specify the format of the date originally is in. We would need another funtion to convert a date

In [ ]:
filepath = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv"

child_identifiers = pd.read_csv(filepath)

child_identifiers

child_identifiers['ExpectedPersonBirthDate'] = pd.to_datetime(child_identifiers['ExpectedPersonBirthDate'], format="%Y-%m-%d")
child_identifiers.info()

# lets handle the error 
child_identifiers['PersonBirthDate'] = pd.to_datetime(child_identifiers['PersonBirthDate'], format="%Y-%m-%d", errors="ignore")
child_identifiers['PersonDeathDate'] = pd.to_datetime(child_identifiers['PersonDeathDate'], format="%Y-%m-%d", errors="coerce")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               332 non-null    int64
 1   LAchildID                332 non-null    object
 2   UPN                      332 non-null    object
 3   FormerUPN                0 non-null      float64
 4   UPNunknown               0 non-null      float64
 5   PersonBirthDate          332 non-null    object
 6   ExpectedPersonBirthDate  7 non-null      datetime64[ns]
 7   GenderCurrent            332 non-null    int64
 8   PersonDeathDate          21 non-null     object
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 23.5+ KB

/tmp/ipykernel_26762/3335976524.py:10: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_datetime without passing `errors` and catch exceptions explicitly instead
  child_identifiers['PersonBirthDate'] = pd.to_datetime(child_identifiers['PersonBirthDate'], format="%Y-%m-%d", errors="ignore")

in date times all of the characters start with a % sign, e.g., %m is month like 09.
In this case the dates will read YYYY-MM

Python uses strftime: https://strftime.org/  to specify date formats,

In [ ]:
# lets calculate the age 

child_identifiers["Age"] = pd.to_datetime('01/04/24', dayfirst=True) - child_identifiers["PersonBirthDate"]

child_identifiers.info()

# here the age has printed at a /Timedelta that we will need to correct 
# we can divide it by the number of days in a year to get the years 
child_identifiers["Age"] = child_identifiers["Age"] / pd.Timedelta(365.25, 'd')

# but we do not want a decimal n7umber, we want an intiger 

child_identifiers["Age"] = child_identifiers["Age"].astype('int') # int will always round down 
child_identifiers

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               332 non-null    int64
 1   LAchildID                332 non-null    object
 2   UPN                      332 non-null    object
 3   FormerUPN                0 non-null      float64
 4   UPNunknown               0 non-null      float64
 5   PersonBirthDate          332 non-null    datetime64[ns]
 6   ExpectedPersonBirthDate  7 non-null      datetime64[ns]
 7   GenderCurrent            332 non-null    int64
 8   PersonDeathDate          20 non-null     datetime64[ns]
 9   Age                      332 non-null    timedelta64[ns]
 10  age                      332 non-null    timedelta64[ns]
dtypes: datetime64[ns](3), float64(2), int64(2), object(2), timedelta64[ns](2)
memory usage: 28.7+ KB

,Unnamed: 0,LAchildID,UPN,FormerUPN,UPNunknown,PersonBirthDate,ExpectedPersonBirthDate,GenderCurrent,PersonDeathDate,Age,age
0,0,RND000215205141,A850728973744,NaN,NaN,2019-12-06,NaT,1,NaT,4,1645 days 13:38:54.803234
1,1,RND000824303014,A141396438491,NaN,NaN,2011-04-27,NaT,9,NaT,12,4790 days 13:38:54.803234
2,2,RND000750143123,A929946861554,NaN,NaN,2017-06-06,2019-12-06,1,NaT,6,2558 days 13:38:54.803234
3,3,RND000909164501,A612330267292,NaN,NaN,2014-10-03,NaT,0,NaT,9,3535 days 13:38:54.803234
4,4,RND000382171815,A604459366806,NaN,NaN,2019-09-25,NaT,2,NaT,4,1717 days 13:38:54.803234
...,...,...,...,...,...,...,...,...,...,...,...
327,327,RND000112711501,A465246916125,NaN,NaN,2010-07-07,NaT,2,NaT,13,5084 days 13:38:54.803234
328,328,RND000513120794,A540014111973,NaN,NaN,2018-08-14,NaT,2,NaT,5,2124 days 13:38:54.803234
329,329,RND000541643134,A549582689058,NaN,NaN,2021-12-09,NaT,51,NaT,2,911 days 13:38:54.803234
330,330,RND000404939452,A889492349196,NaN,NaN,2013-07-23,NaT,2,NaT,10,3972 days 13:38:54.803234
331,331,RND000589802835,A877624860226,NaN,NaN,2021-10-25,NaT,9,NaT,2,956 days 13:38:54.803234

In [ ]:
# quicker way although it doesnt seem to work in codespace
# import numpy as np 

#child_identifiers["age"] = pd.to_datetime('today') - child_identifiers["PersonBirthDate"]
#child_identifiers["age"] = child_identifiers["age"] / np.timedelta64(1, "Y")

In [ ]:
# if we want excat ages or age buckets 

# we could use date ofset to add or takeway a number of years, here we filter using a logical condition to 
child_identifiers['PersonBirthDate'] - pd.DateOffset(17, 'Y')
subset = child_identifiers["Age"]

0     2019-11-19
1     2011-04-10
2     2017-05-20
3     2014-09-16
4     2019-09-08
         ...
327   2010-06-20
328   2018-07-28
329   2021-11-22
330   2013-07-06
331   2021-10-08
Name: PersonBirthDate, Length: 332, dtype: datetime64[ns]